@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #DEAB30;
  --black: #000000;
  --white: #ffffff;
  --grey: #585858;
  /* ✅ Fallback + primary font */
  --font-primary: "futura-pt", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-grey: var(--grey);
  --font-sans: var(--font-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* ✅ Apply globally */
html {
  font-family: "futura-pt",  sans-serif;
}
.font-primary {
  font-family: var(--font-primary);
}


/* Custom Gold Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #DFAB31, #b8860b);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #DFAB31;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #DFAB31 rgba(255, 255, 255, 0.08);
}